:root {
  --color-fondo: #071f40;
  --color-primario: #f2f2f2;
  --color-primarioDos: #038587;
  --color-secundario: #015a95;
  --color-secundarioDos: #04325b;
  --fuente-color-primario: #ffffff;
  --fuente-color-secundario: #000;
  --fuente-color-secundarioDos: #bbb;
  --btn-color: #071f40;
  --btn-colorDos: #038587;
  --fuente-principal: "Roboto", sans-serif;
  --fuente-secundaria: "Rubik", sans-serif;
  --fuente-tamanio-titulo: 2rem;
  --fuente-tamanio-titulo-tablet: 2.5rem;
  --fuente-tamanio-titulo-desktop: 3rem;
  --fuente-tamanio-subtitulo: 1.5rem;
  --fuente-tamanio-subtitulo-tablet: 2rem;
  --fuente-tamanio-subtitulo-desktop: 2.5rem;
  --fuente-tamanio-parrafo: 1rem;
  --fuente-tamanio-parrafo-tablet: 1.15rem;
  --fuente-tamanio-parrafo-desktop: 1.25rem;
}

.bg-azulOscuro {
  background-color: var(--color-fondo);
}

/* PERFIL ALUMNO */
.avatarPerfil {
  margin-top: 60px;
  width: 150px;
}

.perfil-card {
  width: 100%; /* Para dispositivos pequeños */
  font-family: var(--fuente-principal);
  font-size: 14px;
}

/* Dispositivos medianos (mínimo 769px) */
@media (min-width: 767px) {
  /* PERFIL */
  .avatarPerfil {
    margin-top: 80px;
    width: 200px;
  }
  .perfil-card {
    width: 95%;
    font-size: 16px;
  }
}

/* Dispositivos grandes (mínimo 993px) */
@media (min-width: 993px) {
  /* PERFIL */
  .avatarPerfil {
    margin-top: 0;
    width: 130px;
  }

  .perfil-card {
    width: 70%;
  }
}
