:root {
  --color-fondo: #071f40;
  --color-primario: #f2f2f2;
  --color-primarioDos: #038587;
  --color-secundario: #015a95;
  --color-secundarioDos: #04325b;
  --fuente-color-primario: #ffffff;
  --fuente-color-secundario: #000;
  --fuente-color-secundarioDos: #bbb;
  --btn-color: #071f40;
  --btn-colorDos: #038587;
  --fuente-principal: "Roboto", sans-serif;
  --fuente-secundaria: "Rubik", sans-serif;
  --fuente-tamanio-titulo: 2rem;
  --fuente-tamanio-titulo-tablet: 2.5rem;
  --fuente-tamanio-titulo-desktop: 3rem;
  --fuente-tamanio-subtitulo: 1.5rem;
  --fuente-tamanio-subtitulo-tablet: 2rem;
  --fuente-tamanio-subtitulo-desktop: 2.5rem;
  --fuente-tamanio-parrafo: 1rem;
  --fuente-tamanio-parrafo-tablet: 1.15rem;
  --fuente-tamanio-parrafo-desktop: 1.25rem;
}

.bg-azulOscuro {
  background-color: var(--color-fondo);
}
.titulo {
  font-family: var(--fuente-principal);
  font-size: var(--fuente-tamanio-titulo);
  color: var(--color-fondo);
}

.avatarPerfil {
  margin-top: 60px;
  width: 150px;
}

.perfil-card {
  width: 100%;
  font-family: var(--fuente-principal);
  font-size: 14px;
}

.tableMaterias {
  background-color: var(--color-fondo) !important;
  color: var(--fuente-color-primario) !important;
}

.asistencias-container {
  font-family: var(--fuente-principal);
}

.asistencia-card {
  background-color: var(--color-fondo);
  border: 1px solid var(--color-primario);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.inasistencias-fechas {
  width: 100%;
}
.inasistencias-fechas .fechas-titulo {
  font-size: 16px;
  color: var(--color-primario);
  margin-bottom: 20px;
}

.inasistencias-fechas ol {
  text-align: left;
}

.inasistencias-fechas li {
  font-size: 15px;
  color: var(--color-primario);
  margin-bottom: 8px;
}

.cardNovedad{
  border: 1px solid var(--color-primario);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.488);
  transition: transform 0.3s ease;
}
.imgNovedad {
  width: 100%;
  height: 400px;
  border-radius: 5px;
}

@media (min-width: 767px) {
  .avatarPerfil {
    margin-top: 80px;
    width: 200px;
  }
  .perfil-card {
    width: 95%;
    font-size: 16px;
  }
  .row-asistencias {
    margin-top: 80px !important;
  }
  .asistencia-card:hover {
    transform: scale(1.05);
  }
  .cardNovedad:hover{
    transform: scale(1.05);
  }
}

@media (min-width: 993px) {
  .avatarPerfil {
    margin-top: 0;
    width: 130px;
  }
  .perfil-card {
    width: 70%;
  }
  .imgNovedad {
    height: 350px;
  }
  .cardNovedad:hover{
    transform: scale(1.05);
  }
}

.iconoEditar {
  color: var(--color-primario);
}

.btnEditar {
  background: var(--color-fondo) !important;
  font-family: var(--fuente-secundaria);
  font-weight: bold;
  color: var(--color-primario) !important;
}

.modalUsuario {
  font-family: var(--fuente-principal);
}