/* Estilos generales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-fondo: #071f40;
  --color-primario: #04325b;
  --color-primarioDos: #038587;
  --color-secundario: #015a95;
  --color-secundarioDos: #f2f2f2;
  --fuente-color-primario: #ffffff;
  --fuente-color-secundario: #000;
  --fuente-color-secundarioDos: #;
  --btn-color: #071f40;
  --btn-colorDos: #038587;
  --fuente-principal: ;
  --fuente-secundaria: ;
  --fuente-tamanio-titulo: 2rem;
  --fuente-tamanio-titulo-tablet: 2.5rem;
  --fuente-tamanio-titulo-desktop: 3rem;
  --fuente-tamanio-subtitulo: 1.5rem;
  --fuente-tamanio-subtitulo-tablet: 2rem;
  --fuente-tamanio-subtitulo-desktop: 2.5rem;
  --fuente-tamanio-parrafo: 1rem;
  --fuente-tamanio-parrafo-tablet: 1.15rem;
  --fuente-tamanio-parrafo-desktop: 1.25rem;
}

html {
  scroll-behavior: smooth;
  font-family: var(--fuente-principal);
}

body {
  background-color: var(--color-fondo);
}

.titulo {
  font-family: var(--fuente-principal);
  font-size: var(--fuente-tamanio-titulo);
  color: var(--color-primario);
}
/* Estilos del sidebar */
.sidebar {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}
/* Sidebar para pantallas grandes */
@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    overflow-y: auto;
  }

  .main-content {
    margin-left: 250px;
  }
}

/* Sidebar para pantallas pequeñas */
@media (max-width: 991px) {
  .main-content {
    margin-left: 0;
  }
}
