@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-fondo: #071f40;
  --color-primario: #f2f2f2;
  --color-primarioDos: #038587;
  --color-secundario: #015a95;
  --color-secundarioDos: #04325b;
  --fuente-color-primario: #ffffff;
  --fuente-color-secundario: #000;
  --fuente-color-secundarioDos: #bbb;
  --btn-color: #071f40;
  --btn-colorDos: #038587;
  --fuente-principal: "Roboto", sans-serif;
  --fuente-secundaria: "Rubik", sans-serif;
  --fuente-tamanio-titulo: 2rem;
  --fuente-tamanio-titulo-tablet: 2.5rem;
  --fuente-tamanio-titulo-desktop: 3rem;
  --fuente-tamanio-subtitulo: 1.5rem;
  --fuente-tamanio-subtitulo-tablet: 2rem;
  --fuente-tamanio-subtitulo-desktop: 2.5rem;
  --fuente-tamanio-parrafo: 1rem;
  --fuente-tamanio-parrafo-tablet: 1.15rem;
  --fuente-tamanio-parrafo-desktop: 1.25rem;
}

html {
  scroll-behavior: smooth;
  font-family: var(--fuente-principal);
}

body {
  background-color: var(--color-fondo);
}

.titulo {
  font-family: var(--fuente-principal);
  font-size: var(--fuente-tamanio-titulo);
  color: var(--color-primario);
}

.imgAvatarHeader {
  width: 30px;
  border-radius: 50%;
}

.logout-btn {
  cursor: pointer;
  color: var(--fuente-color-primario);
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logout-btn:hover {
  color: rgb(190, 188, 188);
}

.logout-btn svg {
  margin-right: 4px;
}

.logout-btn:active {
  color: #e0e0e0;
}

.sidebar {
  background-color: var(--color-fondo);
  color: var(--fuente-color-primario);
  height: 100vh;
}

.bg-azulOscuro {
  background-color: var(--color-fondo);
}

.logoSidebar {
  height: 120px;
  width: 50%;
  filter: drop-shadow(1px 1px rgba(255, 255, 255, 0.6));
  object-fit: contain;
}

.logoOfCanvas {
  height: 60px;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.offcanvas-header .btn-close {
  filter: invert(1);
}

.sidebar-full-height {
  flex: 1;
  overflow-y: auto;
}

.btnSidebar:hover {
  color: var(--btn-color) !important;
  background-color: var(--color-primario);
  width: 100%;
}

.navBarMenu {
  background-color: var(--color-fondo) !important;
}

.tituloFooter {
  font-size: small;
}

.copyFooter {
  font-size: x-small;
}

.formularioContacto {
  background-color: var(--color-fondo);
  color: var(--color-primario);
}

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    overflow-y: auto;
  }

  .main-content {
    margin-left: 250px;
  }
}

@media (max-width: 991px) {
  .main-content {
    margin-left: 0;
  }

  .logoSidebar {
    height: 150px;
    width: 50%;
  }
}